* {
    box-sizing: border-box;
}

body {
	font-family: Arial;
	font-size: 18px;
}

.header {
    color: white;
    padding: 15px;
	background-color: #720660;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    
}

.row::after {
content: "";
clear: both;
display: table;
}

ul {
	list-style-type: none;
	margin:0px;
	padding: 0px;
	float: right;
	width: 100%;
}

li a {
	display: block;
	font-family: Arial;
	font-size: 24px;
	color:white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color: #3d0233;
	
}

li a:hover { background-color: #720660; }

.aktivnilink { 
background-color: #b942f4;
}

li {
	border-bottom: 1px solid #bbb;
	width: 100%;
}

img {
	float:left;
	padding-bottom: 20px;
	padding-Right: 20px;
}

h3 {
	color: #3d0233;
	font-size: 30px;
	text-align:center;
}
